*{
  margin: 0;
  padding: 0;
}

.container {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2.7fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: center;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {  
  display: flex;
  grid-area: main;
  column-gap: 1rem;
}

.txt {
  align-self: flex-start;
  padding: 2rem;
}

.txt h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 1rem;
}

.txt p {
  margin: 0;
  padding: 1rem;
  text-align: left;
  font-size: 30px;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: rgb(216, 228, 255);
  border-radius: 20px;
}

.main img {
  margin: 2rem;
  padding: 0;
  border-radius: 30px;
  border: 10px solid cornflowerblue;
}

.footer { 
  grid-area: footer; 
}



@media screen and (max-width: 800px){
  .main {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 400px){
  .container {
  grid-template-rows: 0.18fr 2.5fr 0.2fr;
  }  

  .main {
      flex-direction: column-reverse;
    }

  .txt p {
    margin: 0;
    padding: .2rem;
  }

  .txt h2 {
    margin: 0;
    padding: .2rem;
  }

  .main img {
    margin: 0;
    padding: .2rem;
  }
}