.flexbox-container {
    display: flex;
    flex: content;
}

.box {
    width: 200px;
    margin: 0px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.box-1 {
    min-height: 100px;
}
.box-2 {
    min-height: 200px;
}

.box-3 {
    min-height: 300px;
}
