* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	font-family: "Poppins", sans-serif;
	background: #ecefff;
	color: rgb(0, 0, 0);
}

nav {
	width: 100%;
	padding: 1rem 5%;
	background: rgba(156, 136, 236, 0.05);
	border-bottom: 1px solid rgba(16, 8, 102, 0.1);
	backdrop-filter: blur(15px);

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	color: #5e38f8;
	letter-spacing: 1px;
	margin-right: auto;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
	margin-right: 30px;
}

.nav-links li a {
	position: relative;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
	color: #5e38f8;
	transition: 0.3s;
}

.nav-links li a:hover {
	color: #977cff;
	text-shadow: 0 0 10px #a5afff;
}

.btns {
	display: flex;
}

.btn { 
	padding: 0.5rem 1.5rem;
	border-radius: 30px;
	font-weight: 600;
	font-size: 1rem;
	background: #8166ee;
	color: #0f122a;
	box-shadow: 0 0 5px #9279f5;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	background: #977cff;
	box-shadow: 0 0 15px #977cff;
}


footer {
	background: #a5afff;
	min-height: 300px;
}

.logob {
	height: 50vh;
}